
# Ignore everything
*

# Don't ignore these folders
!nvim/
!neovide/
!alacritty/
!aerospace/
!ghostty/
# Include files inside the folders (since folders are ignored by default)
!nvim/**/*
!neovide/**/*
!aerospace/**/*
!ghostty/**/*
